body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  color: white !important;
  margin-top: -5px;
}

thead {
  font-weight: bold;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}